---
import Base from "../../layouts/Base.astro";
import Header from "../../layouts/Header.astro";
import type { Work } from "../../types/work";

// SSGルーティング
export async function getStaticPaths() {
  const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/works`);
  const works: Work[] = await res.json();

  return works.map((work) => ({
    params: { slug: decodeURI(work.slug) },
  }));
}

const slug = Astro.params.slug;
const safeSlug = encodeURIComponent(slug);
const res = await fetch(
  `${import.meta.env.PUBLIC_API_URL}/works?slug=${safeSlug}&_embed`
);
const data: Work[] = await res.json();
const work = data[0];

// acfで作成したフィールドの値
const acfImage = work.acf?.article_image ?? "";
const acfTitle = work.acf?.article_title ?? "";
const acfText = work.acf?.article_text ?? "";
---

<Base pageMeta="article" pageData="article">
  <!-- body内の要素 -->
  <Header />
  <main class="article_content">
    <section class="article_head">
      <div class="article_image">
        <img src={acfImage} alt="" />
      </div>
      <h1 class="article_title">{acfTitle}</h1>
      <p class="article_read">{acfText}</p>
    </section>
  </main>
</Base>

<style lang="scss" is:global>
  .article_content {
    @include media(sp) {
      padding: 0 sp(24);
      margin-top: sp(60);
      padding-right: sp(16);
      margin-bottom: sp(60);
      padding-left: sp(16);
    }
    @include media(pc) {
      padding: 0 pc(40);
      margin-top: pc(120);
      margin-bottom: pc(120);
      display: grid;
      grid-template-columns: repeat(10, 1fr);
    }
    .article_head {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @include media(sp) {
        grid-column: 3/9;
        gap: sp(8);
      }
      @include media(pc) {
        grid-column: 3/9;
        gap: pc(16);
      }
    }
  }
</style>
