---
import Base from "../layouts/Base.astro";
import Header from "../layouts/Header.astro";
import AssetsImage from "../components/common/AssetsImage.astro";
import AssetsPicture from "../components/common/AssetsPicture.astro";
import type { About } from "../types/about";

const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/pages?_embed`);

const data = await res.json();
const aboutData: About = data[0]; 

// acfで作成したフィールドの値
const acfUs = aboutData.acf?.about_us ?? "";
const acfMission = aboutData.acf?.about_mission ?? "";
const acfHistory = aboutData.acf?.about_history ?? "";
const acfTeam = aboutData.acf?.about_team ?? "";
const acfValue = aboutData.acf?.about_value ?? "";
---

<Base pageMeta="about" pageData="about">
  <!-- body内の要素 -->
  <Header />
  <div class="about">
    <div class="about__area">
      <h2 class="about__title">About</h2>
      <div class="about__wrap">
        <section class="about__section">
          <h3 class="about__subTitle">私たちについて</h3>
          <p class="about_text">
            {acfUs}
          </p>
        </section>

        <section class="about__section">
          <h3 class="about__subTitle">ミッション</h3>
          <p class="about_text">
            {acfMission}
          </p>
        </section>

        <section class="about__section">
          <h3 class="about__subTitle">沿革</h3>
          <p>
            {acfHistory}
          </p>
        </section>

        <section class="about__section">
          <h3 class="about__subTitle">チーム</h3>
          <p class="about_text">
            {acfTeam}
          </p>
        </section>

        <section class="about__section">
          <h3 class="about__subTitle">価値観</h3>
          <p class="about_text">
            {acfValue}
          </p>
        </section>
      </div>
    </div>
  </div>
</Base>

<style lang="scss" is:global>
  .about {
    @include media(sp) {
      padding: 0 sp(24);
      margin-top: sp(60);
      padding-right: sp(16);
      margin-bottom: sp(60);
      padding-left: sp(16);
    }
    @include media(pc) {
      padding: 0 pc(40);
      margin-top: pc(120);
      margin-bottom: pc(120);
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
    > .about__area {
      grid-column: 3/11;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include media(pc) {
        gap: pc(40);
      }
      > .about__title {
        text-align: center;
        @include media(sp) {
          font-size: sp(24);
        }
        @include media(pc) {
          font-size: pc(40);
        }
      }
      > .about__wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: pc(80);
        > .about__section {
          > .about__subTitle {
            font-size: pc(24);
            margin-bottom: pc(16);
          }
        }
      }
    }
  }
</style>
